<div class="container">
  <div class="row">
    <div>
      {{ signupForm.value | json }} <br>
      {{ signupForm.status }} <br>
      {{ signupForm.get('userData.email').status }}
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">
            <span
              *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="text-danger">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required!</span>
            </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <span
            *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
            class="help-block">Please enter a valid email!</span>
        </div>
      </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender"> {{ gender }}
          </label>
        </div>

        <div>
          <h4>Enter Your Hobbies</h4>
          <button
            (click)="onAddHobby()"
            class="btn btn-warning btn-sm"
            type="button">
            Add Hobby
          </button>
          <br>
        </div>

          <div
            formArrayName="hobbies"
            class="form-group"
            *ngFor="let hobbyControl of hobbies.controls; let i = index">
            <input
              [formControlName]="i"
              class="form-control"
              type="text">
          </div>

        <div
          *ngIf="!signupForm.valid && signupForm.touched"
          class="text-danger">
          Please enter all the required fields.
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
