<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" #spy>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tdf">Template Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reactive">Reactive Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hero">Hero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/name">Name Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/maxt">Max Template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/maxr">Max Reactive</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div>
  {{spy.className}} spy
</div>
